<!DOCTYPE html> 
<html>
    <head>
      {% include 'url.html' %}
      <title>Admin-panel</title>
    </head>
</html>
<body>
<div class="header">
  <a class="logo">Кванториум-Новоуральск<img src="/static/icons/Logo.png" style="height: 20px; width: 20px;"></a>
  <div class="header-right">
    <a class="active" href="/Admin">Главная</a>
    <a href="/products">Новости</a>
    <a href="/Create-product">Создать новость</a>
    <a href="/game">Игра о Кванториуме</a>
    <a href="/direction_and_programs">Направления и программы</a>
    <a href="/event">Мероприятия</a>
    <a href="/create_event">Создать мероприятия</a>
    <a href="/courses">Курсы</a>
    <a href="/login">Войти на сайт</a>
    <div class="ProfilePanel">
      {% if not user %}
        <a href="profile"><img src="/static/icons/user-default.png" alt="Изображение по умолчанию"><h1>Профиль</h1></a>
      {% else %}
        <a href="profile"><img src="{{user.pathUser}}" alt="logo"><h1>{{user.name}}</h1></a>
      {% endif %}
    </div>
    <div class="ProfilePanel">
        <a href="/bell"><img src="/static/icons/bell.png">Сообщение</a>
    </div>
  </div>
</div>

<br>
<header class="header2"  style="margin-top: -20px;">
  <h1 class="headh1 h1" style="font-size: 5rem;">
    Добро пожаловать: 
  </h1>
  <h1 class="headh1 h1" style="font-size: 2rem;">
    Админ панель
  </h1>
</header>

{% include 'footer.html' %}
</body>