<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'url.html' %}
  <link rel="stylesheet" href="static/css/buy.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Покупка</title>
</head>
{% include 'header.html' %}
<script>
$('#card-number').on('keypress change blur', function () {
  $(this).val(function (index, value) {
    return value.replace(/[^a-z0-9]+/gi, '').replace(/(.{4})/g, '$1 ');
  });
});

$('#card-number').on('copy cut paste', function () {
  setTimeout(function () {
    $('#card-number').trigger("change");
  });
});

$('#card-exp').on('input',function(){
    var curLength = $(this).val().length;
    if(curLength === 2){
       var newInput = $(this).val();
        newInput += '/';
        $(this).val(newInput);
    }


});
</script>

<div class="box">
  <div class="mdl"> 
    <div class="cardBuy">
      <form>
        <div class="card-number">
          <label>Полное имя</label>
          <input id="card-number" placeholder="Михаил Яковлев" type="text" required maxlength="20" minlength="2">
          <span class="underline"></span>
        </div>

        <div class="card-number">
          <label>Card Number</label>
          <input id="card-number" placeholder="1234 1234 1234 1234" type="text" required maxlength="19" minlength="19">
          <span class="underline"></span>
        </div>
        <br>
        <div class="group">
          <div class="card-name">
            <label>Card Holder</label>
            <input id="card-name" placeholder="ISRAEL ISRAELI" type="text" required>
            <span class="underline"></span>

          </div>
          <div class="expiration-date">
            <label>Exp. Date</label>
            <input id="card-exp" placeholder="10/25" type="text" maxlength="5" required>
            <span class="underline"></span>

          </div>
          <div class="ccv">
            <label>CCV</label>
            <input id="card-ccv" placeholder="123" type="text" maxlength="3" required>
            <span class="underline"></span>
          </div>
        </div>
        <br><br>
        <button class="view, button-28" style="
        position: relative;
        border-radius: 4rem; 
        width: 250px;
        min-height: 50px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        align-content: center;" onclick="alert('не работет :|')">Купить</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>