<!DOCTYPE html> 
<html>
    <head>
      {% include 'url.html' %}
      <title>Выставки работ</title>
    </head>
</html>
<body>
{% include 'header.html' %}
<div class="atom">
  <img src="/static/icons/Abstract.png">
</div>

<header class="header2"  style="min-height: 100vh;">
  <div style="display: table; z-index: 1;">
    <img style="width: -1rem; height: 5rem; margin-top: 10rem; z-index: 1;" src="/static/icons/logo.png">
    <br><br><br><br>
    <div style="height: 5rem; width: 40rem;">
      <p style="font-family: 'Russo One', sans-serif; font-size: 30px;">Выстовка победивших работ</p>
    </div>
  </div>
</header>

<div class="test">
  <p>Работы</p>
</div>
<br><br><br><br><br><br>

<div style="position: relative; text-align: center;">
  <div class="first hero">
    <button onclick=""><img class="hero-profile-img" src="##"></button>
    <div class="hero-description-bk"></div>
    <div class="hero-description">
      <h2 style="font-family: 'Comfortaa', cursive;"> Имя работы </h2>
      <p style="font-family: 'Comfortaa', cursive;"> краткое описание работы </p>
    </div>
    <div  class="hero-date">
      <p style="font-family: 'Comfortaa', cursive;"><b>Дата: работы </b></p>
      <div class="eight">
        <a href="$$"><img style="width: 10%;" src="/static/icons/share.png"></a>
        <a href="##">Подробно</a>
      </div>
    </div>
  </div>
</div>

<script src="/static/js/redirects.js"></script>
<script src="/static/js/main.js"></script>

{% include 'footer.html' %}
</body>