<footer class="footer-distributed">
  <div class="footer-left">
    <p class="footer-links">
    <a class="link-1" href="/">Главная</a>
    <a href="/About">О нас</a>
    </p>
  <div class="footer-center">
  <div>
    <i class="fa fa-map-marker"></i>
    <p><span>Обл: --</span>Город: --</p>
  </div>
  <div>
    <i class="fa fa-phone"></i>
    <p>Номер телефона компании</p>
  </div>
  <div>
    <i class="fa fa-envelope"></i>
    <p><a href="##">почта компании</a></p>
  </div>
  </div>
    <p style="margin-left: 820px;">имя компании&copy; 2023-24</p>
  </div>
</footer>