<div class="header">
  <a href="/"><img src="/static/icons/Panellogo.png"></a>
  <div class="header-right">
    <a href="/">Главная</a>
    <a href="/direction_and_programs">Конкурсы</a>
    <a href="/Exhibitions_of_works">Выставки работ</a>
    <a href="/ticet">Бронь</a>
    <a href="/Student_materials">Материалы для студента</a>
    <a href="/login">Войти</a>
    <div class="ProfilePanel">
      {% if not user %}
        <a href="profile"><img src="/static/icons/user-default.png" alt="Изображение по умолчанию"></a>
      {% else %}
        <a href="profile"><img src="{{user.pathUser}}" alt="logo"><h1>name:</h1></a>
      {% endif %}
    </div>
  </div>
</div>