<div class="header">
  <a class="logo" href="/"><p style="text-emphasis-color: linear-gradient(-20deg , #bb7413, #e7d25c)">НЕЙМАРК</p></a>
  <div class="header-right">
    <a href="/">Главная</a>
    <a href="/products">Новости</a>
    <a href="/direction_and_programs">Направления и программы</a>
    <a href="/event">Мероприятия</a>
    <a href="/courses">Курсы</a>
    <a href="/login">Войти на сайт</a>
    <div class="ProfilePanel">
      {% if not user %}
        <a href="profile"><img src="/static/icons/user-default.png" alt="Изображение по умолчанию"><h1>Профиль</h1></a>
      {% else %}
        <a href="profile"><img src="{{user.pathUser}}" alt="logo"><h1>{{user.name}}</h1></a>
      {% endif %}
    </div>
  </div>
</div>