<!DOCTYPE html> 
<html>
    <head>
      {% include 'url.html' %}
      <title>НЕЙМАРК-Главная</title>
    </head>
</html>
<body>
{% include 'header.html' %}
<div class="atom">
  <img src="/static/icons/Abstract.png">
</div>

  <div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Закрыть">&times;</span>
    <form class="modal-content animate" action="../action_page.php" method="post">
      <div class="container">
        <h1 style="text-align: center; color: black; font-family: 'Rubik', sans-serif;">Наши ТГ</h1>
      </div>
      <div class="container" style="background-color:#f1f1f1">
        <h1 style="color: black; font-family: 'Zen Maru Gothic', serif;"><b style="color: #FF5338; font-family: 'Zen Maru Gothic', serif;">@LisaSU_AMD </b>- Михаил Яковлев - <b style="color: #004EA8; font-family: 'Zen Maru Gothic', serif;">разработчик</b></h1>
        <h1 style="color: black; font-family: 'Zen Maru Gothic', serif;"><b style="color: #FF5338; font-family: 'Zen Maru Gothic', serif;">@I_Senya0000_I </b>- Арсений Некрасов - <b style="color: #004EA8; font-family: 'Zen Maru Gothic', serif;">разработчик</b></h1>
        <h1 style="color: black; font-family: 'Zen Maru Gothic', serif;"><b style="color: #FF5338; font-family: 'Zen Maru Gothic', serif;">@Zipkatrew </b>- Вадим Тарасов - <b style="color: #004EA8; font-family: 'Zen Maru Gothic', serif;">QAR</b></h1>
      </div>
    </form>
  </div>

<header class="header2">
  <div style="display: table; z-index: 1;">
    <img style="width: -1rem; height: 5rem; margin-top: 20rem; z-index: 1;" src="/static/icons/logo.png">
    <br><br><br><br>
    <!--<div style="height: 30rem; width: 30rem;">
      <p style="font-family: 'Russo One', sans-serif;">Что такое НЕЙМАРК?</p>
      <br><br>
      <p style="font-family: 'Bellota Text', sans-serif;">НЕЙМАРК - это еще формирующийся зонтичный бренд, включая себя централью его часть - 
        IT-кампус НЕЙМАРК, а также проеты и направления, которые выстраиваються вокруг него.
      </p>
    </div>-->
    <div style="height: 30rem; width: 30rem; display: flex;">
      <img style="width: 30px; height: 30px; margin-top: 2px;" src="/static/icons/arrow.png">
      <p style="font-family: 'Russo One', sans-serif;">Главная</p>
    </div>
  </div>
</header>

<div class="test">
  <p>Конкурсы</p>
</div>
<br><br><br><br><br><br>

<p style="color: white; font-size: 4rem; text-align: center; font-family: 'Rubik', sans-serif;">Здесь ваши факультеты</p>
<br><br><br><br><br><br>

<div class="test">
  <p style="font-size: 20px;">DP-НЕЙМАРК - это уникальное выражение человеческой креативности, эмоций и воображения. Оно находит свое воплощение в различных формах: живописи, скульптуре, музыке, литературе и театре. Искусство позволяет нам увидеть мир по-новому, ощутить глубину человеческих чувств и эмоций, а также вызвать в нас восхищение и вдохновение. Оно является путем самовыражения и коммуникации, а также способом раскрыть свою индивидуальность и уникальность. Искусство способно трансформировать наше сознание, вдохновить изменения в обществе и стать источником развития искусствоведения. Оно является неотъемлемой частью культуры и наследия человечества, и каждое произведение, будь то картина, песня или пьеса, может иметь глубокий смысл и влияние на нашу жизнь.</p>
</div>
<br><br>

  <div class="test">
    <button class="view, button-28" style="
    position: relative;
    border-radius: 4rem; 
    width: 250px;
    min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  align-content: center;" onclick="document.getElementById('id01').style.display='block'">Наши тг</button>
</div>

<br><br>
</div>
{% include 'footer.html' %}
</body>