<!DOCTYPE html> 
<html>
    <head>
      {% include 'url.html' %}
      <link rel="stylesheet" href="static/css/registr.css">
      <title>Войти</title>
    </head>
</html>
<body>
{% include 'header.html' %}
<script src="/static/js/password.js"></script>

<br>
{% for cat, msg in get_flashed_messages(True) %}
  <di class="flash {{cat}}">{{ msg }}</di>
{% endfor %}

<form style="height: 450px;" method="post">
    <h3 style="color: #fff;">Login</h3>

    <label for="email">Email</label>
    <input autocomplete="on" type="email" name="email" placeholder="email" id="email">

    <label for="password">Пароль</label>
    <input autocomplete="on" type="password" name="password" placeholder="Password" id="password">

    <div style="display: flex; align-items: center; position: absolute;">
      <input style="width: 1rem; margin: auto; cursor: url('/static/cursor/pointer.cur'), auto;" type="checkbox" onclick="checking()"><p style="margin-right: 180px;">Show Password</p>
    </div>

    <button>Войти</button>
    <div class="reg">
      <a href="/register">Зарегистрироваться</a>
    </div>
</form>

</body>