<!DOCTYPE html> 
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/registr.css')}}">
      <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
      <link href="../static/signup.css" rel="stylesheet">
      <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Logo.png')}}">
      <title>Войти</title>
    </head>
</html>
<body>
{% include 'header.html' %}
<script src="/static/js/password.js"></script>

<br>
{% for cat, msg in get_flashed_messages(True) %}
  <di class="flash {{cat}}">{{ msg }}</di>
{% endfor %}

<form style="height: 450px;" method="post">
    <h3 style="color: #fff;">Login</h3>

    <label for="email">Email</label>
    <input autocomplete="on" type="email" name="email" placeholder="email" id="email">

    <label for="password">Пароль</label>
    <input autocomplete="on" type="password" name="password" placeholder="Password" id="password">

    <div style="display: flex; align-items: center; position: absolute;">
      <input style="width: 1rem; margin: auto;" type="checkbox" onclick="checking()"><p style="margin-right: 180px;">Show Password</p>
    </div>

    <button>Войти</button>
    <div class="reg">
      <a href="/register">Зарегистрироваться</a>
    </div>
</form>

</body>