<!DOCTYPE html> 
<html>
    <head>
      {% include 'url.html' %}
      <title>Профиль</title>
    </head>
</html>
<body>
{% include 'header.html' %}

<div class="News-card">
  <div class="News-card-logo">
    <img src="№№" style="border-radius: 50%; height: 100px; width: 100px; border: solid rgb(0, 255, 0);" alt="logo">
  </div>
  <div class="News-card-header">
    <hr class="hr-washed">
      <h1 style="font-family: 'Comfortaa', cursive;">Имя: </h1>
      <h2 style="font-family: 'Comfortaa', cursive;">Фамилия: </h2>
      <h2 style="font-family: 'Comfortaa', cursive;">Отчество: </h2>
      <hr class="hr-washed">
      <a class="view, button-28" href="/profile_edit" style="
      position: relative;
      border-radius: 4rem; 
      width: 200px; 
      height: 20px; 
      min-height: 50px;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      align-content: center;">Добавить номер телефона</a>
      <p style="font-family: 'Comfortaa', cursive;"><b>телефон: </p>
      <p style="font-family: 'Comfortaa', cursive;"><b>email: </p>
      <hr class="hr-washed">
      <p style="font-family: 'Comfortaa', cursive;"><b>Дата рождение: </b></p>
  </div>
  <div class="Btn_detail">
    <a class="view, button-28" href="/profile_edit" style="
    position: relative;
    border-radius: 4rem; 
    width: 150px; 
    height: 20px; 
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-content: center;">Изменить аккаунт</a>

    <a class="view, button-28" href="/logout" style="
    position: relative;
    border-radius: 4rem; 
    width: 150px; 
    height: 20px; 
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-content: center;">Logout</a>
  </div>
</div>

<br><br><br><br>
{% include 'footer.html' %}
</body>