<!DOCTYPE html> 
<html>
    <head>
      {% include 'url.html' %}
      <link rel="stylesheet" href="static/css/registr.css">
      <title>Регистрация</title>
    </head>
</html>
<body>
{% include 'header.html' %}
<script src="/static/js/password.js"></script>

<br>

{% for cat, msg in get_flashed_messages(True) %}
  <di class="flash {{cat}}">{{ msg }}</di>
{% endfor %}

<form style="position: absolute; height: 1200px; margin-top: 400px;" action="" method="post" method="POST" action="/register" enctype="multipart/form-data">
  <h3 style="color: #fff;">Регистрация</h3>

  <div class="block-asterisk">
    <label for="email">Email</label><img src="/static/icons/asterisk.png">
  </div>
  <input autocomplete="on" type="email" name="email" placeholder="email" id="email" minlength="8">

  <div class="block-asterisk">
    <label for="name">Имя</label><img src="/static/icons/asterisk.png">
  </div>
  <input autocomplete="on" type="name" name="name" placeholder="имя" id="name" minlength="2">

  <div class="block-asterisk">
    <label for="surname">Фамилия</label><img src="/static/icons/asterisk.png">
  </div>
  <input autocomplete="on" type="surname" name="surname" placeholder="фамилия" id="surname" minlength="2">

  <div class="block-asterisk">
    <label for="patronymic surname">Отчество</label><img src="/static/icons/asterisk.png">
  </div>
  <input autocomplete="on" type="patronymic surname" name="patronymic surname" placeholder="отчество" id="patronymic surname" minlength="2">

  <label for="phone">Номер телефона</label>
  <input autocomplete="on" type="phone" name="phone" placeholder="ваш номер телефона" id="phone">

  <label for="date">Дата рождения: </label>
  <input type="date" id="date" name="date"/>

  <div class="block-asterisk">
    <label for="password">Пароль</label><img src="/static/icons/asterisk.png">
  </div>
  <li>Минимально длина парля 8</li>
  <input type="password" name="password" placeholder="Password" id="password" minlength="8">

  <div style="display: flex; align-items: center;">
    <input style="width: 1rem; margin: auto; cursor: url('/static/cursor/pointer.cur'), auto;" type="checkbox" onclick="checking()"><p style="margin-right: 180px;">Show Password</p>
  </div>

  <select style="color: black;">
    <option style="color: black;">Пункт 1</option>
    <option style="color: black;">Пункт 2</option>
  </select>

  <div class="inputUserImage">
    <label for="file">Картинка профиля</label>
    <input class="inputUserImage" type="file" name="file">
  </div>

  <button type="submit">Зарегистрироваться</button>
  <div class="reg">
    <a href="/login">Войти</a>
  </div>
</form>

</body>