<!DOCTYPE html> 
<html>
    <head>
      {% include 'url.html' %}
      <title>Материалы для студента</title>
    </head>
</html>
<body>
{% include 'header.html' %}
<div class="atom">
  <img src="/static/icons/Abstract.png">
</div>

<header class="header2">
  <div style="display: table; z-index: 1;">
    <img style="width: -1rem; height: 5rem; margin-top: 20rem; z-index: 1;" src="/static/icons/logo.png">
    <br><br><br><br>
    <div style="height: 30rem; width: 30rem; display: flex;">
        <img style="width: 30px; height: 30px; margin-top: 2px;" src="/static/icons/arrow.png">
        <p style="font-family: 'Russo One', sans-serif;">Что нужно для факультета?</p>
    </div>
  </div>
</header>
    
<div class="test">
  <p>Факультеты</p>
</div>
<br><br><br><br><br><br>

<div style="position: relative; text-align: center; display: flex; justify-content: center; flex-wrap: wrap;">
  <div class="BlockCard">
    <br><br>
    <div class="cards">
      <div class="card">
        <h2 class="card-title">Дизайн</h2>
        <img src="/static/icons/Faculty of Design, Fine Arts and Media Technologies.png">
          <p class="card-desc">При всей кажущейся недостижимости творческого образования проходные баллы в институты культуры не заоблачные. Конечно, чтобы стать студентом-бюджетником программы «Менеджмент креативных проектов» в РАНХиГС или поступить на «Историю искусств» во ВШЭ, ЕГЭ по каждому предмету надо сдать не меньше чем на 90 баллов. Но в стопроцентно творческих вузах к школьным академическим успехам абитуриентов приемные комиссии более снисходительны. К примеру, проходной порог в ГИТИСе – на уровне 61,5–79, во ВГИКе на кинооператорстве – и вовсе 54. Главное – талант, потенциал и харизма.</p>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
</body>