<!DOCTYPE html> 
<html>
    <head>
      {% include 'url.html' %}
      <title>Билеты</title>
    </head>
</html>
<body>
{% include 'header.html' %}
<div class="atom">
  <img src="/static/icons/Abstract.png">
</div>

<header class="header2">
  <div style="display: table; z-index: 1;">
    <img style="width: -1rem; height: 5rem; margin-top: 20rem; z-index: 1;" src="/static/icons/logo.png">
    <br><br><br><br>
    <div style="height: 30rem; width: 30rem; display: flex;">
        <img style="width: 30px; height: 30px; margin-top: 2px;" src="/static/icons/arrow.png">
        <p style="font-family: 'Russo One', sans-serif;">Купить билеты</p>
    </div>
  </div>
</header>
<div>
    <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Закрыть">&times;</span>
      <form class="modal-content animate" action="../action_page.php" method="post">
        <div class="container">
          <h1 style="text-align: center; color: black;">Пакупка билета</h1>
        </div>
        <div class="container" style="background-color:#f1f1f1">
          <div style="position: relative; text-align: center; display: flex; justify-content: center; flex-wrap: wrap;">
            <div class="cart">
              <a>
                <div class="nameUser"><p>Имя: человека</p></div>
                <hr class="hr-washed">
                <div class="nameUser"><p>Номер места: 1</p></div>
                <div class="nameUser"><p>Статус: свобдно</p></div>
              </a>
            </div>

            <div class="cart">
              <a>
                <div class="nameUser"><p>Имя: человека</p></div>
                <hr class="hr-washed">
                <div class="nameUser"><p>Номер места: 2</p></div>
                <div class="nameUser"><p>Статус: свобдно</p></div>
              </a>
            </div>

            <div class="cart">
              <a>
                <div class="nameUser"><p>Имя: человека</p></div>
                <hr class="hr-washed">
                <div class="nameUser"><p>Номер места: 3</p></div>
                <div class="nameUser"><p>Статус: свобдно</p></div>
              </a>
            </div>
        </div>
      </div>
    </form>
  </div>
</div>
    
<div class="test">
  <p>Билеты</p>
</div>
<br><br><br><br><br><br>

<div style="position: relative; text-align: center;">
  <div class="first hero">
    <button onclick="document.getElementById('id01').style.display='block'"><img class="hero-profile-img" src="/static/images/BG/BgVR.jpg"></button>
    <div class="hero-description-bk"></div>
    <div class="hero-description" style="display: flex; margin-bottom: 50px;">
      <p>Место проведение</p>
      <p>Осталось мест:</p>
      <p>Занято мест:</p>
      <p>Осталось времени:</p>
    </div>
    <div class="eight" style="display: flexs;">
      <button class="view, button-28" style="
      position: relative;
      border-radius: 4rem; 
      width: 250px;
      min-height: 50px;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      align-content: center;" onclick="document.getElementById('id01').style.display='block'">Посмотреть места</button>
    </div>
  </div>
</div>

{% include 'footer.html' %}
</body>