<link rel="stylesheet" href="static/css/foter.css">
<link rel="stylesheet" href="static/css/main.css">
<link rel="stylesheet" href="static/css/panel.css">
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/main-product.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile Card.css')}}">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="shortcut icon" sizes="32x32" href="static/icons/logoBar.ico">
<script src="/static/js/redirects.js"></script>
