@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Rubik&family=Russo+One&family=Zen+Maru+Gothic:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap');

@keyframes header_anim{
	from{
		transform: translateX(-120%);
	}
	to{
		transform: translateX(0);
	}
}

.headh1{
	overflow: hidden;
	display: block;
	transform: translateX(0);
	animation-name: header_anim;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	text-transform: uppercase;
	color:white;
	align-self: center;
}

.header2{
	overflow: hidden;
	display: flex;
	min-height: 120vh;
	padding: 8px 50px;
	background-color: #0000;
	margin-top: -15rem;
}

/*.header2 img{
	width: 100%; 
	height: 100%; 
	margin-top: 200px; 
	margin-left: -40rem;
}*/
.atom img{
    position: fixed;
    display: table-cell;
    vertical-align: middle;
    width: 150rem;
    height: 150rem;
    margin-left: 5rem;
    margin-top: -50rem;
    -webkit-text-size-adjust: 100%;
    z-index: 0;
}

.header2 p{
	color: white;
	font-size: 2em;
}

.h2{
	position: relative;
	font-family: "Montserrat", sans-serif;
	font-size: 5em;
	font-weight: 700;
}

.article{
	position: relative;
	min-height: 100vh;
	padding: 8px 50px;
}

.article_whitebg::before,
.article_bluebg::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
}

.article_whitebg::before{
	background: rgba(255, 255, 255, 0.5);
}

.article_bluebg::before{
	background: rgba(0, 34, 255, 0.5);
}

.icon-login{
    position: relative;
    width: 20px;
    height: 20px;
}

.cart{
	background-color: #2ab023;
	width: 150px;
	height: 120px;
	margin-left: 15px;
	margin-top: 15px;
	border-radius: 15px;
	transition: all 0.5s;

	display: table;
}

.cart:hover{
	background-color: #f09a0f;
	filter: alpha(opacity=70);
	transition: 1s;
}

.nameUser p{
	text-align: center;
	margin-top: 15px;
}

.cart a{
	cursor: pointer;
	display: table-cell;
    width: 100%;
    -webkit-text-size-adjust: 100%;
}

.cart p{
	color: white;
	font-family: 'Rubik', sans-serif;
	font-size: 1rem;
}

/*          <div class="cart">
            <a>
              <div class="nameUser"><p>Имя: человека</p></div>
              <hr class="hr-washed">
              <div class="title"><p>Имя: поста</p></div>
              <div class="title"><p>Дата: поста</p></div>
              <hr class="hr-washed">
              <div class="miniText"><p>Краткое описание</p></div>
            </a>
          </div>
        </div>*/